.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 8, 24, 0.3);
  z-index: 999;
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--clr-dark);
  backdrop-filter: blur(0.5rem);
}

.modal-box {
  width: 60%;
  height: auto;
  padding: 1em 2em;
  background-color: var(--clr-light);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  margin: 0;
}

.modal-header-close-btn {
  font-size: var(--fs-h4);
}

.modal-h4-holiday,
.modal-about-title {
  margin-bottom: 0;
}

.modal-h4-holiday-title {
  color: var(--clr-accent);
}

.modal-about-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-mood-btn-container {
  display: flex;
}

.modal-mood-btn {
  font-size: var(--fs-h2);
  margin: 0 0.1em;
  transition: all 0.3s;
}

.happy-faces:hover {
  color: var(--clr-green);
}

.unhappy-faces:hover {
  color: var(--clr-accent);
}
